
nav {
  background-color: #282c34;
  min-height: 7vh;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.nav-links {
  width: 60%;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-weight: 400;
  font-size: medium;
}

.link {
  color: #61dafb;
  text-decoration: none;
}